
h1.main_message{
  text-align:center;
  font-family:"Times New Roman";
  color: hsl(230,100%,75%);
  font-size: 42px;
}

h3.instructions{
  text-align:center;
  font-family:"Times New Roman";
  color:hsl(220,100%,60%);
  font-size:25px;
}
h2.second{
  text-align:center;
  font-family:"Times New Roman";
  font-size:30px;
  color:hsl(220,100%,30%);
  
}

.mapa{
  position:relative;
  width:100%;
  max-width:100%;
}

.mapa img{
  width:100%;
  height:auto;
  display:block;
}


button.station{
  position:absolute;
  top:88%;
  left:18%;
  width:25px;
  height:25px;
  background-color:hsl(220,100%,20%);

}
